<div class="search">
	<h3>Find and compare private jets flights</h3>
	<div class="options btn-group" data-toggle="buttons">
	  <label class="btn btn-default">
	    <input type="checkbox"> Round-trip
	  </label>
	  <label class="btn btn-default">
	    <input type="checkbox"> One-way
	  </label>
	  <label class="btn btn-default">
	    <input type="checkbox"> Multi-city
	  </label>
	</div><!-- options -->
	<br/><br/>
	
	<form class="form-inline" role="form">
		<div class="searchFields row">
			  <div class="form-group">
			    <label class="sr-only col-lg-5" for="departureInput">Departure</label>
			    <input type="text" class="form-control input-lg col-lg-5" id="departureInput" placeholder="From">
			  </div>
			  <div class="form-group">
			    <label class="sr-only col-lg-5" for="destinationInput">Destination</label>
			    <input type="text" class="form-control input-lg col-lg-5" id="destinationInput" placeholder="To">
			  </div>

			  <div class="form-group">
			      <label class="sr-only col-lg-1" for="passengersInput">Number of Passengers</label>
			      <select id="passengersInput" class="form-control input-lg  col-lg-1">
			        <option>1 Adult</option>
			        <option>2 Adult</option>
	      		  </select>
	    	  </div>
			  <button type="submit" class="btn btn-warning btn-lg">Find Flights</button>
		</div> <!-- searchFields -->
		<div class="dates row">
			  <div class="form-group">
			    <label class="sr-only col-lg-3" for="departureDateInput">Departure Date</label>
			    <input type="text" class="form-control input-lg col-lg-2" id="departureDateInput" placeholder="Departure Date">
			  </div>
			  <div class="form-group">
			      <label class="sr-only" for="departureTimeInput">Departure Time</label>
			      <select id="departureTimeInput" class="form-control input-lg">
			        <option>12:00 AM</option>
			        <option>01:00 AM</option>
			        <option>02:00 AM</option>
			        <option>03:00 AM</option>
			        <option>04:00 AM</option>
			        <option>05:00 AM</option>
			        <option>06:00 AM</option>
			        <option>07:00 AM</option>
			        <option>08:00 AM</option>
			        <option>09:00 AM</option>
			        <option>10:00 AM</option>
			        <option>11:00 AM</option>
			        <option>12:00 PM</option>
	      		  </select>
	    	  </div>
			  <div class="form-group">
			    <label class="sr-only col-lg-3" for="returnDateInput">Return Date</label>
			    <input type="text" class="form-control input-lg" id="returnDateInput" placeholder="Return Date">
			  </div>
			  <div class="form-group">
			      <label class="sr-only" for="returnTimeInput">Return Time</label>
			      <select id="returnTimeInput" class="form-control input-lg">
			        <option>12:00 AM</option>
			        <option>01:00 AM</option>
			        <option>02:00 AM</option>
			        <option>03:00 AM</option>
			        <option>04:00 AM</option>
			        <option>05:00 AM</option>
			        <option>06:00 AM</option>
			        <option>07:00 AM</option>
			        <option>08:00 AM</option>
			        <option>09:00 AM</option>
			        <option>10:00 AM</option>
			        <option>11:00 AM</option>
			        <option>12:00 PM</option>
	      		  </select>
	    	  </div>
		</div> <!--dates -->
		
	</form>
</div><!-- search -->